.charger-list-bg {
    position: relative;
    z-index: 200;
}
.charger-list-bg .title {
    color: var(--main-color);
    font-size: 1.7em;
}

.loading-con {
    padding:10px 15px;
    margin-top: 20px;

    background-color: var(--main-color);
    color: #000;
    text-shadow: 4px 4px 10px rgba(150, 150, 150, 1);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

    -webkit-box-shadow: 6px 6px 21px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 21px -1px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 21px -1px rgba(0,0,0,0.75);
    
}
.loading-con .spin {
    margin-left: 10px ;
}

.nodeListContainer {
    direction: rtl;
    margin-top: 30px;
    max-height: 82vh;
    padding-right:30px;
}
