/* You can add global styles to this file, and also import other style files */
:root {
    --main-color: #ecf0f1;
    --main-background: #2980b9;
}
body {
    background-color: #2980b9;
}
body, html {
    min-height: 100vh;
}
*{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}
.container-fluid {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

